<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/index-cosechador"></ion-back-button>
    </ion-button>
    <ion-title>perfil</ion-title>

    <!-- <ion-buttons slot="end">
      <ion-button><ion-icon name="cog-outline"></ion-icon></ion-button>
    </ion-buttons> -->
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card >
    <ion-grid>
      <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
        <h1 >{{name}} {{lastname}}</h1>
      </ion-row>
      <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
        <h3 >{{type}}</h3>
      </ion-row>
      <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
        <img src="assets/img/farmer.png" width="200px" alt="" class='ion-justify-content-center'/>
      </ion-row>
      <hr>
      <ion-card>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col><h6>{{email}}</h6></ion-col>
          <ion-col></ion-col>
        </ion-row>
        <ion-row>
          <ion-col size="1"></ion-col>
          <ion-col><h6>{{number}}</h6></ion-col>
          <ion-col></ion-col>
        </ion-row>
      </ion-card>
      <hr>

    </ion-grid>
  </ion-card>
  <ion-button (click)='logout()' expand="block" shape="round">Cerrar Sesion</ion-button>
  
  <p style="padding-left:'10px'">Version 1.0.0</p>

</ion-content>
