<ion-header>
  <ion-toolbar>
    <ion-title>perfil</ion-title>

    <ion-buttons slot="end">
      <ion-button><ion-icon name="cog-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/Image.png" width="200px" alt=""/>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Omnis commodi mollitia aperiam corporis maiores neque sunt culpa numquam totam laboriosam. Perspiciatis vitae dignissimos soluta inventore in officiis officia odio assumenda incidunt obcaecati laboriosam architecto ut consequatur libero temporibus tempora veniam deleniti ad, praesentium quaerat natus eaque. Quibusdam, atque! Amet, rem.
    </ion-card-content>
  </ion-card>
  <ion-button (click)='logout()' expand="block" shape="round">Cerrar Sesion</ion-button>
</ion-content>
