<ion-header>
  <ion-toolbar>
    <ion-title>Mis Ofertas</ion-title>
    <ion-buttons slot="end">
      <ion-button [routerLink]="['/nueva-publicacion']" routerLinkActive="router-link-active" ><ion-icon name="add-circle-outline"></ion-icon></ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et sequi voluptatum necessitatibus voluptatibus hic consequuntur earum distinctio maxime omnis sunt est esse minima neque accusantium amet ad, natus laboriosam!</p>
          </ion-col>
          <ion-col>
            <ion-img src="assets/img/Image.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam esse, necessitatibus, laboriosam laudantium accusamus sint assumenda, ullam exercitationem ipsa natus beatae pariatur voluptas nobis quas numquam deserunt? Architecto, iure iste.</p>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et sequi voluptatum necessitatibus voluptatibus hic consequuntur earum distinctio maxime omnis sunt est esse minima neque accusantium amet ad, natus laboriosam!</p>
          </ion-col>
          <ion-col>
            <ion-img src="assets/img/Image.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam esse, necessitatibus, laboriosam laudantium accusamus sint assumenda, ullam exercitationem ipsa natus beatae pariatur voluptas nobis quas numquam deserunt? Architecto, iure iste.</p>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa et sequi voluptatum necessitatibus voluptatibus hic consequuntur earum distinctio maxime omnis sunt est esse minima neque accusantium amet ad, natus laboriosam!</p>
          </ion-col>
          <ion-col>
            <ion-img src="assets/img/Image.png"></ion-img>
          </ion-col>
        </ion-row>
        <ion-row>
          <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam esse, necessitatibus, laboriosam laudantium accusamus sint assumenda, ullam exercitationem ipsa natus beatae pariatur voluptas nobis quas numquam deserunt? Architecto, iure iste.</p>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>

</ion-content>
