<ion-header>
  <ion-toolbar>
    <ion-title>NOTICIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <img src="assets/img/Image.png" alt=""/>
    <ion-card-header>
      <ion-card-title>titulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero officiis magni sed inventore eos molestias optio esse accusamus saepe natus reiciendis, accusantium velit dolorum ad explicabo exercitationem sint odio dicta.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/Image.png" alt=""/>
    <ion-card-header>
      <ion-card-title>titulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero officiis magni sed inventore eos molestias optio esse accusamus saepe natus reiciendis, accusantium velit dolorum ad explicabo exercitationem sint odio dicta.
    </ion-card-content>
  </ion-card>
  <ion-card>
    <img src="assets/img/Image.png" alt=""/>
    <ion-card-header>
      <ion-card-title>titulo</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      Lorem ipsum dolor sit amet, consectetur adipisicing elit. Libero officiis magni sed inventore eos molestias optio esse accusamus saepe natus reiciendis, accusantium velit dolorum ad explicabo exercitationem sint odio dicta.
    </ion-card-content>
  </ion-card>
</ion-content>
