<ion-header>
  <ion-toolbar>
    <ion-title>NOTICIAS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card *ngFor="let item of array" (click)="openURL(item.url)">
    <ion-item min-height="75%" >
      <ion-img [src]="item.urlToImage" alt="" width="100%" class="ion-padding"></ion-img>
      <!-- <ion-img [src]="item.picture.medium" alt="" width="100%"></ion-img> -->
      <!-- <ion-img [src]="item.image" alt="" width="100%"></ion-img> -->
    </ion-item>
    <ion-card-header>
      <ion-card-title>{{item.title}}</ion-card-title>
      <!-- <ion-card-title>{{item.name.first}}</ion-card-title> -->
      <!-- <ion-card-title>{{item.title}}</ion-card-title> -->
    </ion-card-header>
    <ion-card-content>
      {{item.description}}
    </ion-card-content>
    <!-- <ion-card-content>
      {{item.phone}}
    </ion-card-content> -->
    <!-- <ion-card-content>
      {{item.description}}
    </ion-card-content> -->
  </ion-card>
</ion-content>
