<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="noticias">
      <ion-icon name="triangle"></ion-icon>
      <ion-label>Notis</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="mercado">
      <ion-icon name="ellipse"></ion-icon>
      <ion-label>Mercado</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="publicaciones">
      <ion-icon name="square"></ion-icon>
      <ion-label>Mis pub</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="precios">
      <ion-icon name="square"></ion-icon>
      <ion-label>Precios</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="square"></ion-icon>
      <ion-label>perfil</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
