<ion-header>
  <ion-toolbar class="background">
    <ion-button slot="start">
      <ion-back-button defaultHref="/index-cosechador"></ion-back-button>
    </ion-button>
    <ion-title>Mercado</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="background">
  <ion-searchbar placeholder="¿Buscas algo en especial?"></ion-searchbar>

        <ion-grid>
          <ion-row>
          <ion-col size="4">
            <ion-button>Cosecha</ion-button>
          </ion-col>
          <ion-col size="4">
            <ion-button>Ofertas</ion-button>
          </ion-col >
          <ion-col size="4">
            <ion-button>Pedidos</ion-button>
          </ion-col>
          </ion-row>
      </ion-grid>

        <ion-card class="cardopac">
          <ion-grid>
            <ion-row>
              <ion-col>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsam maxime repellat, sint eaque accusantium architecto iusto nam debitis corporis voluptate vel blanditiis, impedit cumque quam ab minima! Obcaecati, laboriosam provident.</p>
              </ion-col>
              <ion-col>
                <ion-img src="assets/img/Image.png"></ion-img>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-card>

</ion-content>
