<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/publicaciones"></ion-back-button>
    </ion-button>
    <ion-title>Ofertar Producto</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <form id="form">
      <ion-item>
        <ion-input *ngIf="name == ''" [(ngModel)]="productos.name" placeholder="Nombre del producto:" type="text"></ion-input>
        <ion-input *ngIf="name != ''" [(ngModel)]="name"  type="text" disabled="true"></ion-input>
      </ion-item>
      <ion-item>
        <ion-select [(ngModel)]="productos.type" [(ngModel)]="type" placeholder="Selecciona una">
          <ion-select-option>Cultivo</ion-select-option>
          <ion-select-option>Oferta</ion-select-option>
          <ion-select-option>Pedido</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-item>
        <ion-textarea [(ngModel)]="productos.descript" [(ngModel)]="descript" placeholder="Ingresa una descripción:"></ion-textarea>
      </ion-item>
      <ion-item>
        <ion-input [(ngModel)]="productos.count" [(ngModel)]="count" placeholder="Ingresa cantidad diponible:" type="text"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label>Fecha de disponibilidad:
            <ion-input [(ngModel)]="productos.date" [(ngModel)]="date" palceholder="Fecha de disponibilidad:" type="date"></ion-input>
          </ion-label>
      </ion-item>
      <ion-item>
        <ion-label>Adjunte una foto:
          <!-- <ion-input type="file" accept="image/*" (ionChange)="captureImage($event)"></ion-input> -->
        </ion-label>
        <ion-buttons slot="end">
          <ion-button>
            <label for="file-upload">
              <ion-icon slot="icon-only" name="images"></ion-icon>
            </label>
            <input type="file" id="file-upload" style="display: none" accept="image/*" (change)="captureImage($event)">
          </ion-button>
        </ion-buttons>
      </ion-item>
    </form>
    <ion-item *ngIf="image != ''">
      <img [src]="image" alt="">
      <img [src]="photo" alt="">
    </ion-item>
  </ion-card>

    <ion-button *ngIf="val == false" (click)='registerProduct()' expand="block" shape="round" >
      Registrar Producto
    </ion-button>
    <ion-button *ngIf="val == true" (click)='updateProduct()' expand="block" shape="round" >
      Actualizar Producto
    </ion-button>
 

</ion-content>


<!-- 4/05/2021
a los input le agregue el ngModel para que seguardaran en un array, ya que con el formNameControl no me funciona, 	toca mirar despues el porque, para poderborrar el formulario -->