// ion-content{
//     --background: url(/assets/img/bgfinal.jpg) no-repeat center/cover fixed;
// }

.menui {
    height: 145px;
    width: 145px;
    background-color: #ccd99cb2;
}
.logo{
    height: 120px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.texto{
    padding-left: 30px;
}
