ion-content{
    --background: url(/assets/img/bgfinal.jpg) no-repeat center/cover fixed;
}
.cardopac {     
    background: rgba(255,255,255,0.8);      
} 
.logo {
    max-width: 400px;
    height: 400px;
    padding: .5em;
    height: 70vh;
    padding-top: 150px;
    padding-bottom: 50px;
    filter: drop-shadow(3px 4px 4px #444);
}
