<ion-header>
  <ion-toolbar>
    <ion-title>Delcampacol</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <h3>Bienvenido a Delcampacol, desliza para ver nuestros servicios.</h3>
    </ion-card-header>
    <ion-card-content>
      <ion-slides pager>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1>Cosechadores</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-img src="assets/img/Image.png"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea, quibusdam id neque nihil facilis ipsum quos illo repellendus, consequuntur, labore dolorem odit corrupti libero animi nostrum ad fugiat facere?</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1>Comerciantes</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-img src="assets/img/Image.png"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea, quibusdam id neque nihil facilis ipsum quos illo repellendus, consequuntur, labore dolorem odit corrupti libero animi nostrum ad fugiat facere?</p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
        <ion-slide>
          <ion-grid>
            <ion-row>
              <ion-col>
                <h1>Compradores</h1>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <ion-img src="assets/img/Image.png"></ion-img>
              </ion-col>
            </ion-row>
            <ion-row>
              <ion-col>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Suscipit ea, quibusdam id neque nihil facilis ipsum quos illo repellendus, consequuntur, labore dolorem odit corrupti libero animi nostrum ad fugiat facere?
                </p>
              </ion-col>
            </ion-row>
          </ion-grid>
        </ion-slide>
      </ion-slides>
      
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <ion-grid>
        <ion-row>
        <ion-col>
          <ion-button expand="block">Registrarse</ion-button>
        </ion-col>
        <ion-col>
          <ion-button expand="block">Iniciar sesion</ion-button>
        </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>
