<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/index"></ion-back-button>
    </ion-button>
    <ion-title>Registro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-content>
        <h3 >
          Por favor ingrese todos los datos para realizar un óptimo registro.
        </h3>
    </ion-card-content>
  </ion-card>
  <ion-card>
    <ion-card-content>
      <form [formGroup]="registerForm">
        <ion-grid>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input formControlName='name' type="text" placeholder="Nombre:"></ion-input>
              </ion-item>
            </ion-col>
            <ion-col>
              <ion-item>
                <ion-input formControlName='lastname' type="text" placeholder="Apellido:"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input formControlName='email' type="email" placeholder="Correo electronico:"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input formControlName='number' type="number" placeholder="Número de contacto:"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input formControlName='pass' type="password" placeholder="Contraseña:"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-input formControlName='conPass' type="password" placeholder="Repita la contraseña:"></ion-input>
              </ion-item>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col>
              <ion-item>
                <ion-select formControlName='type' placeholder="Selecciona eltipo de usuario:">
                  <ion-select-option>Cosechador</ion-select-option>
                  <ion-select-option>Comerciante</ion-select-option>
                  <ion-select-option>Comprador</ion-select-option>
                </ion-select>
              </ion-item>
            </ion-col>
          </ion-row>
            <ion-row>
              <ion-col>
                <ion-button (click)='register()' expand="block" shape="round">
                  Registrarse
                </ion-button>
              </ion-col>
            </ion-row>
            <ion-row class='input-container ion-justify-content-center ion-align-items-center'>
                <h6>¿Ya tiene una cuenta? <a href="/login">Inicie sesion</a></h6>
            </ion-row>
        </ion-grid>
      </form>

    </ion-card-content>
  </ion-card>
</ion-content>
