<ion-header>
  <ion-toolbar>
    <ion-button slot="start">
      <ion-back-button defaultHref="/index-cosechador"></ion-back-button>
    </ion-button>
    <ion-title>Precios del día</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content center text-center>   
  <iframe src ="https://precios.corabastosonline.co/#/tendencia/grupos" style="position:fixed; top:0px; left:0px; bottom:0px; right:0px; width:100%; height:100%; border:none; margin:0; padding:0; overflow:hidden; z-index:999999;"></iframe>
</ion-content>