<ion-header>
  <ion-toolbar>
    <ion-title>PRECIOS DEL DIA</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>
    <ion-row >
      <ion-col>Producto</ion-col>
      <ion-col>Presentacion</ion-col>
      <ion-col>Unidad</ion-col>
      <ion-col>
        <ion-row>ronda 1</ion-row>
        <ion-row>
          <ion-col>Minimo</ion-col>
          <ion-col>Maximo</ion-col>
        </ion-row>
      </ion-col>
      <ion-col>
        <ion-row>ronda 2</ion-row>
        <ion-row>
          <ion-col>Minimo</ion-col>
          <ion-col>Maximo</ion-col>
        </ion-row>
      </ion-col>
    </ion-row>
    <ion-row><strong>Frutas</strong></ion-row>
    <ion-row>Citricos</ion-row>
    <!--aqui van  elementos xd-->
    <ion-row>Otras frutas</ion-row>
    <!--aqui van  elementos xd-->
  </ion-grid>
</ion-content>